    .scGridPage { background-color: #FFFFFF; background-image: url(/tangara.gov.co/datos/_lib/img/scriptcase__NM__bgmiolo.gif); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }

    .scGridBorder { opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 2px; border-collapse: collapse; padding: 3px }

    .scGridPageLink { color: #8ba3b9; text-decoration: none }

    .scGridToolbarNav { opacity: 1; filter: alpha(opacity=100); color: #000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none; padding: 2px 4px 2px 4px }

    .scGridToolbarNavOpen { background-color: #86a4c0; opacity: 1; filter: alpha(opacity=100); color: #fff; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none; border-color: #86a4c0; border-style: solid; border-width: 1px; padding: 2px 4px 2px 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }

    .scGridToolbar { background-color: #e5e5e5; background-image: url(/tangara.gov.co/datos/_lib/img/scriptcase__NM__BgToolsGray.gif); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; padding: 2px }

    .scGridToolbarPadding { padding: 2px }

    .css_toolbar_obj { opacity: 1; filter: alpha(opacity=100); border-color: #8ba3b9; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }

    .scGridHeader { background-color: #8ba3b9; opacity: 1; filter: alpha(opacity=100) }

    .scGridHeaderFont { color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }

    .scGridFooter { background-color: #8ba3b9; opacity: 1; filter: alpha(opacity=100) }

    .scGridFooterFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }

    .scGridObjectOdd { opacity: 1; filter: alpha(opacity=100); border-color: #8ba3b9; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }

    .scGridBlockBg { background-color: #a6bdd3; opacity: 1; filter: alpha(opacity=100); border-width: 1px; border-style: solid; border-top-color: #a6bdd3; border-bottom-color: #a6bdd3; border-left-color: #a6bdd3 }

    .scGridBlockLineBg { background-color: #a6bdd3; opacity: 1; filter: alpha(opacity=100); border-color: #a6bdd3; border-width: 1px; border-style: solid }

    .scGridBlockSpaceBg { background-color: #a6bdd3; opacity: 1; filter: alpha(opacity=100); border-width: 1px; border-style: solid; border-left-color: #a6bdd3; border-right-color: #a6bdd3 }

    .scGridBlock { background-color: #a6bdd3; opacity: 1; filter: alpha(opacity=100); border-width: 1px; border-style: solid; color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }

    .scGridBlockFont { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }

    .scGridBlockLink { color: #333; text-decoration: underline }

    .scGridBlockAlign { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }

    .scGridTotal { background-color: #86a4c0; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 0 }

    .scGridTotalFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }

    .scGridSubtotal { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 0 }

    .scGridSubtotalFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }

    .scGridFieldEven { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100) }

    .scGridFieldEvenFont { color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none; border-color: #000000; border-style: solid; border-width: 1px }

    .scGridFieldEvenVert { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }

    .scGridFieldEvenLink { color: #8ba3b9; text-decoration: none }

    .scGridFieldOdd { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100) }

    .scGridFieldOddFont { color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none; border-color: #000000; border-style: solid; border-width: 1px }

    .scGridFieldOddVert { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }

    .scGridFieldOddLink { color: #8ba3b9; text-decoration: none }

    .scGridFieldClick { background-color: #e5e5e5; border-color: #000000; border-style: solid; border-width: 1px }

    .scGridFieldOver { background-color: #dfe5f6 }

    .scGridLabel { background-color: #86a4c0; opacity: 1; filter: alpha(opacity=100) }

    .scGridLabelVert { background-color: #86a4c0; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 0; color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px; text-decoration: none }

    .scGridLabelFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px; text-decoration: none; border-style: solid; border-width: 0 }

    .scGridLabelLink { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }

    .scGridTabela { opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px }

    .scGridTabelaTd { padding: 3px }

    .TB_overlayBG { background-color: #6e6e6e }

    #TB_window { border-color: #dfdfdf; border-style: inset; border-width: 2px 2px 3px 2px }

    .scBtnPassField { margin: 5px 2px }

